header {
  background-color: white;

  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.line-through-text {
  text-decoration: line-through;
}

.underline-text {
  border-bottom: 4px solid black;
}

.main-section {
  background-image: url("https://growthcx-website-assets.s3.ap-south-1.amazonaws.com/customers/Frame.png");
  background-repeat: no-repeat;
  width: 100vw;
}

.logo {
  max-width: 20%;
  height: auto;

}

nav ul {
  list-style: none;
  display: flex;
  font-size: 2rem;
  justify-content: space-around;
}

nav li {
  /* margin-right: 20px; */
  padding: 0.8rem;
  font-weight: bold;
  font-size: 1.4rem;
}

.links ul {
  margin: 0;
  padding: 0;
}

header li:nth-last-child(1) {
  background: black;
  margin-bottom: 5%;
}

header li:last-child a {
  color: white;
  /* Change the text color to red for the last <li> */
}

nav a {
  text-decoration: none;
  color: black;
}

.feedback-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 05%; */
  /* text-align: center; */
  gap: 4.5rem;
}

.feedback-container h3 {
  margin: 0% 10%;
  font-weight: 550;
  font-size: 1.9rem;
  word-spacing: 4%;
  /* margin-bottom: 1rem; */
}

.feedback-container>h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 8%;
  max-width: 60%;
  height: 120px;
  font-weight: 900;
}

.customer-details {
  width: 40%;
  display: flex;
  padding-bottom: 1px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.company-name,
.customer-name,
.feedback-text {
  margin-bottom: 0;
}

.company-name {
  line-height: 1.8;
  font-weight: 200;
  font-size: larger;
}

.customer-name {
  font-weight: 550;
  margin-top: 0.6rem;
}

.feedback-text {
  line-height: 1.5;
  font-weight: 520;
  font-size: 1.1rem;
}

.services-btn {
  display: flex;
  width: 20rem;
  gap: 4%;
  padding-bottom: 10%;
  padding-left: 2%;
}

.services-btn span {
  background-color: #d3d3d3;
  padding: 1%;
}

.feedback-card img {
  width: 60%;
  align-items: center;
  margin: 10% 30%;
  border-radius: 10%;
}

.feedback-card {
  width: 55%;
  height: 62%;
  display: flex;
  flex-direction: row;
  align-items: left;
  border-top: 1px solid #000;
}

.feedback-card:nth-child(odd) {
  margin-left: 30%;
}

.footer-section {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
}


.footer-content {
  background-color: black;
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 1%;
  border: 1px sold orangered;
}

.footer-content h1 {
  font-size: 3rem;
  width: 50%;
  text-align: center;
}

.footer-section a {
  color: #d3d3d3;
}

.footer-section ul {
  list-style: none;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: flex;
  align-items: flex-start;
}

.links h3 {
  font-weight: 200;
  line-height: 2;
}

.links a {
  display: inline;
  text-decoration: none;
  font-weight: 100;
  margin-bottom: 10px;
}

.links li {
  margin-bottom: 0.5rem;
}

.refe-links {
  display: flex;
  gap: 10rem;
  margin-top: 2rem;
}

.call-btn {
  background: whitesmoke;
  padding: 0.5rem 2.5rem;
  font-size: larger;
  font-weight: 600;
  border: none;
  margin-top: 2rem;

}

.copyright-text {
  font-size: 14px;
  margin-top: 4rem;
}

/* For Iphone SE */
@media (max-width: 378px) and (max-height:800px) {
  header{
    display: none;
  }
  .feedback-container h1{
    max-width: 100%;
    height:8rem;
    font-size: 2rem;
    margin-top:50%;
    text-align: center;
  }
  .feedback-container h3{
    font-size: 1.5rem;
    margin:0% 0% 20% 0%;
    font-weight: 100;
    text-align: center;

  }
  .feedback-card {
    flex-direction: row; /* Change to row for smaller screens */
    gap: 2rem; /* Adjust the gap as needed */
    width: 60%;
    padding: 4%;
    height: fit-content;
  }

  .customer-details {
    flex: 1; /* Allow the details to take up available space */
    margin-right: 1rem; /* Add some margin between details and photo */
  }

  .customer-photo {
    width: 30%; /* Adjust the width as needed */
    height: 20%;
  }
  .feedback-text {
    margin-bottom: 0;
    width: 180%;
  }
  .refe-links{
    display: flex;
    flex-direction: column;
    gap:2%;
  }
  .footer-section img{
    width: 100vw;
    align-content: center;
  }
}

  /* .feedback-card{
    gap:0;
    text-align: center;
    width: 100%;
    background-color: hotpink;
    display: flex;
    flex-direction: column-reverse; */
    /* align-items: center;  */
  /* } */
  /* .customer-photo{
    width: 50%;
    background-color: aqua;
    margin-left: 0%;
    display: flex;
    align-items: flex-start;
  } */
  /* .customer-photo img {
    width: 85%;
    align-self: flex-start; /* Align the customer photo to the left */
    /* margin: 0%; /* Adjust margins as needed */
    /* border-radius: 10%; */
    /* border: 1px dashed blue; */
    /* display: flex; */
    /* order: 0; */
  /* } */ */
  /* .customer-details {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  } */ 
  /* .company-name,
  .customer-name, */
  /* .feedback-text {
    margin-bottom: 0;
    width: 100%;
    background-color: bisque;
  } */
  .company-name {
    line-height: 1.8;
    font-weight: 200;
    font-size: larger;
  }
  .customer-name {
    font-weight: 550;
    margin-top: 0.6rem;
    white-space: nowrap; /* Prevent line break between company-name and customer-name */
  }
  .feedback-text {
    line-height: 1.5;
    font-weight: 520;
    font-size: 1.1rem;
  }
